
  <%= simple_form_for @post do |f| %>
    <% if @post.errors.any? %>
      <div class="errors">
        <h2> <%= pluralize(@post.errors.count, "error") %> stoped this post from saving </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>

        </ul>
    <% end %>

    <h1>Create Blog Post</h1>
    <!-- [...] -->
    <%= f.input :title%>
    <%= f.input :body %>
    <%= f.button :submit %>
    <!-- [...] -->
  <% end %>




<!-- <form action="#">
  <h1>Fancy Inputs</h1>

  <div class="row">
    <input type="text" name="fancy-text" id="fancy-text"/>
    <label for="fancy-text">Name</label>
  </div>

  <div class="row">
    <textarea name="fancy-textarea" id="fancy-textarea"></textarea>
    <label for="fancy-textarea">Description</label>
  </div> -->
